.job a {  
  display: block;  
  padding: 10px;  
  border: 1px solid #ccc;  
  margin: 0 0 10px 0;  
  text-decoration: none;  
  color: black;
}
.job a:hover {  
  background: #eee;
}
.job a span {  
  margin: 0 2px;
}
.job a span:first-child {  
  font-weight: 900;
}